input {
    @apply px-2 py-1 border rounded border-neutral-2;
}

input:not([type="checkbox"]):not([type="radio"]),
select {
    @apply w-full;
}

input:hover {
    @apply border-primary-3;
}

input:active {
    @apply border-neutral-5;
}
