/* purgecss start ignore */

@import "tailwindcss/base";
@import "tailwindcss/components";

/* purgecss end ignore */

@import "tailwindcss/utilities";

html,
body {
    font-size: 14px;
}

body {
    @apply text-neutral-5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* todo em unit */
    @apply block mt-4 mb-2;
    line-height: 1.1;
}

h3,
.h3 {
    @apply text-3xl;
}

h2,
.h2 {
    @apply text-4xl;
}

h1,
.h1 {
    @apply text-5xl;
}

.content-medium {
    @apply px-8 mx-auto;
    max-width: 900px;
}

/** Forms **/

label {
    @apply mb-2;
}

input {
    @apply w-full px-2 py-1 outline-none;
}

input.light {
    @apply px-2 py-1 border rounded border-neutral-2;
}

input.light:hover {
    @apply border-primary-3;
}

input.light:active {
    @apply border-neutral-5;
}

input.transparent-dark {
    @apply text-white;
    background-color: transparent;
}

input.transparent-dark::placeholder {
    @apply text-white;
    opacity: 0.8;
}

/** Cards **/

.card {
    @apply bg-white border rounded border-neutral-2;
}

.card .card-block {
    @apply p-4 border-b border-neutral-2;
}

.card > .card-block:last-child,
.card > :last-child .card-block:last-child {
    @apply border-none;
}

.card .card-title {
    @apply font-bold;
}

/** Buttons **/

.btn {
    @apply px-3 leading-loose text-center uppercase transition-colors duration-150 ease-in-out border border-solid rounded;
}

@variants colors {
    .btn-primary {
        @apply text-white bg-primary-3 border-primary-4;
    }
    .btn-primary:hover {
        @apply bg-primary-4 border-primary-5;
    }
}
